# gitで無視したいファイルやディレクトリを指定するファイル


# ログファイルを無視
*.log

# 設定ファイルを無視する（秘密情報を含むファイル）
*.env
*.ini

# 仮想環境を無視
venv/
env/
.venv/

# Pythonのバイトコードファイル
*.pyc
*.pyo
__pycache__/


# データベースファイルを無視
*.db

# Djangoのメディアファイル（ユーザーアップロードなど）
/media/

# Djangoの静的ファイル（開発環境で生成されたものなど）
/static/

# IDE/エディタ固有のファイル
.vscode/
.idea/

# パッケージマネージャーに関連するファイル
*.egg-info/
dist/
build/

# その他、個別に無視する必要があるもの
*.bak
*.swp

# MacOSの特定のファイルを無視
.DS_Store

# mysql_dataを無視する
mysql_data/
